@{
    ViewBag.Title = "Edit";
}
<h2>Edit Photo</h2>
<div class="row">
    <div class="col-md-4">
        <img src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.Photo.Image)" style="width:100%;" />
    </div>
</div>
<form style="margin-top:50px;" method="post" action="/PhotoUpload/Edit/@ViewBag.Photo.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label style="color:#fff;">Photo Name: </label>
    <br />
    @Html.Editor("Name")
    @Html.ValidationMessage("Name", new { @class = "text-danger " })
    <br /><br />

    <label style="color:#fff;">Photo Description: </label>
    <br />
    @Html.Editor("Description")
    @Html.ValidationMessage("Description", new { @class = "text-danger " })
    <br /><br />




    <button style="background-color:#fff; color:#000; padding:10px 20px; border-radius:10px; font-weight:bolder; margin-top:50px; margin:0 auto;" type="submit">Edit Photo</button>

</form>