
@{
    ViewBag.Title = "New";
}

<h2>New Photo:</h2>

@using (Html.BeginForm("New", "PhotoUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Name", "Photo Name:")
    <br />
    @Html.Editor("Name")
    @Html.ValidationMessage("Name", new{@class = "text-danger "})
    <br /><br />

    @Html.Label("Description", "Photo Description:")
    <br />
    @Html.Editor("Description")
    @Html.ValidationMessage("Description", new { @class = "text-danger " })
    <br /><br />

    @Html.Label("PostedImage","Upload Image:")
    <br />
    <input type="file" name="PostedImage" id="PostedImage" style="width: 100%;" />
    @Html.ValidationMessage("PostedImage", new { @class = "text-danger " })
    <br />

    <select name="Id">
        @foreach (var category in Model)
        {
            <option value="@category.Id">
                @category.Name
        </option>
        }
    </select>


    <br />
    <input type="submit" class="submit" />

}
